@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-regular.woff2') format('woff2'),
        url('../fonts/inter-regular.woff') format('woff');
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6E6893;
}


img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

.modal {
    position: relative;
    margin: 0 auto;
    min-height: 823px;
    width: 792px;
    padding: 32px 106px 28px;
    background: #F2F0F9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.modal__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    margin: 0 0 43px;
}

.form__fieldset {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    margin-bottom: 32px;
    padding: 28px;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    padding-left: 9px;
}

.form__input {
    display: block;
    width: 524px;
    height: 40px;
    background-color: #F4F2FF;
    border-radius: 6px;
    border: none;
    margin-bottom: 12px;
    padding: 0;
}

.form__input:last-child {
    margin: 0;
}

.form__input_type_textarea {
    height: 112px;
    overflow: auto;
}

.form__label_type_checkbox {
    position: relative;
    cursor: pointer;
}

.form__input_type_checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    cursor: pointer;
}

.form__input_type_disabled {
    width: 474px;    
    background-color: #EEEEEE;
    float: right;
}

.form__input_type_checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F4F2FF;
    border-radius: 6px;
}

.form__input_type_checkbox:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.form__input_type_checkbox:checked:after {
    opacity: 1
}

.form__input_type_checkbox:checked ~ .form__input_type_disabled {
    background-color: #F4F2FF;
}

.form__input_type_checkbox:not(:checked) .form__input_type_disabled {
    background-color:  #EEEEEE;
}

.form__button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 200px;
    height: 39px;
    background: #6D5BD0;
    border-radius: 6px;
    border: none;
    float: right;
    margin-right: 24px;
}

.modal__close {
    padding: 0;
    border-color: transparent;
    position: absolute;
    top: 20px;
    right: 30px;
}
