@import 'global.css';
@import 'normalize.css';

.modal {
    padding: 20px 0;
}

.modal__container {
    position: relative;
    margin: 0 auto;
    min-height: 823px;
    max-width: 792px;
    padding: 32px 106px 28px;
    background: #F2F0F9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.modal__heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    margin: 0 0 43px;
}

.modal__close {
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 30px;
}

.form__fieldset {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    margin-bottom: 32px;
    padding: 28px;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    padding-left: 9px;
}

.form__input {
    display: block;
    width: 100%;
    background-color: #F4F2FF;
    border-radius: 6px;
    border: none;
    margin-bottom: 12px;
    resize: none;
    font-size: 16px;
    line-height: 1.125;
    padding: 11px;
}

.form__input:last-child {
    margin: 0;
}

.form__input:disabled {
    background-color: #EEEEEE;
}

.form__checkbox-wrapper {
    margin-bottom: 12px;
    padding: 0 0 0 50px;
    position: relative;
}

.form__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    top: 0;
    left: 0;
}

.form__checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F4F2FF;
    border-radius: 6px;
}

.form__checkbox:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.form__checkbox:checked:after {
    opacity: 1
}

.form__checkbox:checked ~ .form__input:disabled {
    background-color: #F4F2FF;
}

.form__button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    padding: 10px;    
    background: #6D5BD0;
    border-radius: 6px;
    border: none;
    float: right;
    margin-right: 24px;
}

